<html>
  <head>
    <title>Consulter un potin</title>
    <style>
      .label{
        text-decoration: underline;
        font-size: 25px;
      }
      
    </style>
  </head>
  <body>
  
    <h1>Voici la page du potin n° <%= id %></h1>
    <h4 class="label">Son auteur: </h4>
    <p> <%= gossip.author %> </p>
    <h4 class="label">Le contenu du potin: </h4>
    <p><%= gossip.content %></p>
    <br />
    <p><%= comments.length %> commentaires: </p>
    
    <% comments.each_with_index do |comment, index| %>
     <div class="comment">
        <h4 class="comment-title">
          <%= comment.author %><br/>
        </h4>
        <p class="comment-article">
          <%= comment.content %>
          <br/>
        </p>
      </div>
      <% end %>     
    <a href="/gossips/<%= id %>/edit/">Editer ce potin</a>
    <a href="/gossips/<%= id %>/comment/">Commenter ce potin</a>
    <a href="/">Revenir à l'accueil</a>
  </body>
</html>